<!-- Faz esta página virar uma herança de modelo -->
{% extends 'modelo.html' %}



{% block conteudo %}



<div class="col-md-12">





    <header class="masthead text-center text-white">
      <div class="masthead-content">
      <h2 class="masthead-subheading mb-0">Escolha um de nossos animais</h2>

</div>
<div class="row">
  <div class="">

        <img id="img1" class="imagensgui" src="https://vmp-www.imgix.net/images/070616-shows-bet-breaks-Snoop-Performs-DNC-snoo.original.jpg?auto=format&w=650&h=433.33&fit=crop&bri=-10" alt="Snoop">
        <br>
        <label class="label3rows" for="img1">Snoop</label>
  </div>
  <div class="">

        <img id="img2" class="imagensgui" src="https://www.what-dog.net/Images/faces2/scroll001.jpg" alt="Snoop">
<br>
        <label class="label3rows" for="img2">Beagle</label>
      </div>
<div class="">

        <img id="img3" class="imagensgui" src="https://us.123rf.com/450wm/jessaerons/jessaerons1707/jessaerons170700022/81933041-photo-of-a-thin-stray-homeless-dog-without-a-pedigree-on-the-street.jpg?ver=6" alt="Snoop">
      <br>
        <label class="label3rows" for="img3">Vira-latas </label>

      </div>
</div>







</div>


{% endblock %}
